.btn-gradient-danger {
  background: linear-gradient(90deg, #ffbf96, #fe7096);
  border-radius: 0.25rem;
  border: 0;
  transition: opacity .3s ease;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  /* -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; */
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
}

.btn-gradient-danger {
  border: 0;
  transition: opacity .3s ease;
}

.btn-gradient-danger:hover {
  opacity: .8;
}

.btn-gradient-danger:not(.btn-gradient-light),
.btn-gradient-danger:not(.btn-gradient-light):active,
.btn-gradient-danger:not(.btn-gradient-light):focus,
.btn-gradient-danger:not(.btn-gradient-light):hover {
  color: #fff;
}

.btn-gradient-primary:not(.btn-gradient-light),
.btn-gradient-primary:not(.btn-gradient-light):active,
.btn-gradient-primary:not(.btn-gradient-light):focus,
.btn-gradient-primary:not(.btn-gradient-light):hover {
  color: #fff;
}

.btn-gradient-primary:hover {
  opacity: .8;
}

.btn-gradient-primary,
.btn-gradient-primary:not([disabled]):not(.disabled).active,
.btn-gradient-primary:not([disabled]):not(.disabled):active,
.show>.btn-gradient-primary.dropdown-toggle {
  background: linear-gradient(90deg, #da8cff, #9a55ff);
  border-radius: 0.25rem;
}

.btn-gradient-info,
.btn-gradient-info:not([disabled]):not(.disabled).active,
.btn-gradient-info:not([disabled]):not(.disabled):active,
.show>.btn-gradient-info.dropdown-toggle {
  background: linear-gradient(90deg, #90caf9, #047edf 99%);
}

.btn-gradient-primary {
  border: 0;
  transition: opacity .3s ease;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
}

.content-wrapper {
  background: #f2edf3;
  /* padding: 2.75rem 2.25rem; */
  width: 100%;
  flex-grow: 1;
}

.active {
  color: #8a8a8a;
  text-decoration: none;
}

.stretch-card {
  display: block;
  align-items: stretch;
  justify-content: stretch;
}

.grid-margin {
  margin-bottom: 2.5rem;
}

.bg-gradient-primary {
  background: linear-gradient(90deg, #da8cff, #9a55ff);
}

.form-control,
.swal2-modal .swal2-content .swal2-input {
  border: 1px solid #ebedf2;
  font-size: 18px;
}

.card-img-holder {
  position: relative;
}

.bg-gradient-danger {
  background: linear-gradient(90deg, #ffbf96, #fe7096);
}

/* .card.card-img-holder .card-img-absolute {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
} */

.bg-gradient-success {
  background: linear-gradient(90deg, #84d9d2, #07cdae);
}

.card {
  border-radius: 15px;
  border: none;
  margin: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.page-title-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  text-align: center;
  box-shadow: 0 3px 8.3px 0.7px rgb(163 93 255 / 35%);
  cursor: pointer;
}

.card-title {
  font-weight: 400;
}

.banner {
  overflow: hidden;
  height: 200px;
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
}

.banner img {
  width: 50%;
  height: 100%;
  margin: 0 auto;
}

button:disabled {
  pointer-events: none;
}

.btn-block {
  display: block;
  width: 100%;
}

.auth-form-btn {
  padding: 1rem 1rem;
  line-height: 1.2;
}

.form-control-lg {
  height: 3.175rem;
  padding: 0.94rem 1.94rem;
  font-size: 1.12rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.font-weight-light {
  font-weight: 300;
}

.add-btn-gradient-danger:not(.btn-gradient-light),
.add-btn-gradient-danger:not(.btn-gradient-light):active,
.add-btn-gradient-danger:not(.btn-gradient-light):focus,
.add-btn-gradient-danger:not(.btn-gradient-light):hover {
  color: #fe7096;
  text-decoration: none;
}

.add-btn-gradient-danger span {
  color: black;
}

.card-box {
  padding: 10px 0px;
  text-align: center;
  border: 2px solid #ced4da;
  border-style: dashed;
  position: inherit;
  border-radius: 8px;
}

/* .card-div {
  height: 100%;
  align-items: end;
  justify-content: end;
  display: flex
} */

/* .bg-card {
  background: rgba(254, 124, 150, .2);
} */

.logo-inotebook {
  padding: 10px 10px;
  font-size: 25px;
  font-weight: bolder;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  /* min-height: 60px; */
  text-align: center;
}

.edit-icon:not(.btn-gradient-light),
.edit-icon:not(.btn-gradient-light):focus {
  color: #f796aa;
}

.edit-icon:not(.btn-gradient-light):hover {
  color: #fe7c96;
}

.filter {
  position: absolute;
  right: 0px;
  top: 15px;
}

.dropdown-menu {
  border-radius: 4px;
  padding: 10px 0;
  -webkit-animation-name: dropdown-animate;
  animation-name: dropdown-animate;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  border: 0;
  box-shadow: 0 5px 30px 0 rgb(82 63 105 / 20%);
}

.dropdown-menu-end {
  --bs-position: end;
}

.dropdown-item:active {
  color: black;
  text-decoration: none;
  background-color: #e9ecef;
}

@media (min-width: 768px) {
  .dropdown-menu-arrow::before {
    content: "";
    width: 13px;
    height: 13px;
    background: #fff;
    position: absolute;
    top: -7px;
    right: 20px;
    transform: rotate(45deg);
    border-top: 1px solid #eaedf1;
    border-left: 1px solid #eaedf1;
  }
}

.t1 {
  position: absolute;
  inset: 0px 0px auto auto;
  margin: 0px;
  transform: translate(0px, 30px);
}

.icon {
  color: #f796aa;
  padding-right: 20px;
  padding-bottom: 5px;
  transition: 0.3s;
  font-size: 16px;
}

a:hover {
  color: white;
}

.card-icon {
  color: #4154f1;
  background: #f6f6fe;
}

.bg-gradient-primary {
  background: linear-gradient(90deg, #90caf9, #047edf 99%);
}

.btn-gradient-purple {
  background: linear-gradient(90deg, #da8cff, #9a55ff);
}

.bg-gradient-danger {
  background: linear-gradient(90deg, #ffbf96, #fe7096);
}

.react-tagsinput {
  background-color: #fff;
  border: 1px solid #ebedf2;
  overflow: hidden;
  padding-left: 5px;
  padding-top: 5px;
}

.react-tagsinput--focused {
  border-color: #ebedf2 !important;
}

.react-tagsinput-tag {
  border-radius: 5px !important;
  background-color: #baa9ba !important;
  border: none !important;
  color: white !important;
  display: inline-block;
  font-size: 15px !important;
  /* font-weight: 400; */
  margin-bottom: 0px !important;
  margin-right: 5px;
  padding: 5px 5px !important;
}

.react-tagsinput-remove {
  cursor: pointer;
  font-weight: bold;
}

.react-tagsinput-tag a::before {
  content: " ×";
}

.react-tagsinput-input {
  background: transparent;
  border: 0;
  color: #777;
  font-size: 18px !important;
  font-weight: 400;
  margin-bottom: 2px !important;
  margin-top: 1px;
  outline: none;
  padding: 5px;
  width: 110px !important;
}

.react-tagsinput-tag a {
  color: white;
  text-decoration: none !important;
}

.card-text img {
  display: none;
}

/** New CSS**/
/* .navbar-light .navbar-nav .nav-link {
  color: #000;
} */

.input-group-text {
  background-color: transparent;
  padding-top: 0.26rem;
  padding-bottom: 0.26rem;
}

.tag {
  border-right: 1px solid #ebedf2;
}


/**New**/
body {
  margin-top: 20px;
  font-family: 'Cedarville Cursive', cursive;
  /* font-family: 'Lobster', cursive; */
  /* font-family: 'Marck Script', cursive; */
  /* font-family: 'Roboto', sans-serif; */
}

.card-big-shadow {
  max-width: 320px;
  position: relative;
}

.coloured-cards .card {
  margin-top: 30px;
}

.card[data-radius="none"] {
  border-radius: 0px;
}

.card {
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
  background-color: #FFFFFF;
  color: #252422;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}


.card[data-background="image"] .title,
.card[data-background="image"] .stats,
.card[data-background="image"] .category,
.card[data-background="image"] .description,
.card[data-background="image"] .content,
.card[data-background="image"] .card-footer,
.card[data-background="image"] small,
.card[data-background="image"] .content a,
.card[data-background="color"] .title,
.card[data-background="color"] .stats,
.card[data-background="color"] .category,
.card[data-background="color"] .description,
.card[data-background="color"] .content,
.card[data-background="color"] .card-footer,
.card[data-background="color"] small,
.card[data-background="color"] .content a {
  color: #FFFFFF;
}

.card.card-just-text .content {
  padding: 50px 65px;
  /*65*/
  /* text-align: center; */
}

.card .content {
  padding: 20px 20px 10px 20px;
}

/* .card[data-color="blue"] .category {
  color: #7a9e9f;
} */

.card .category,
.card .label {
  font-size: 14px;
  margin-bottom: 0px;
}

.card-big-shadow:before {
  background-image: url("http://static.tumblr.com/i21wc39/coTmrkw40/shadow.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  bottom: -12%;
  content: "";
  display: block;
  left: -12%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

h4,
.h4 {
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.2em;
}

h6,
.h6 {
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
}

.card .description {
  font-size: 16px;
  color: #66615b;
}

.content-card {
  margin-top: 30px;
}

a:hover,
a:focus {
  text-decoration: none;
}

/*======== COLORS ===========*/
.card[data-color="blue"] {
  background: #b8d8d8;
}

.card[data-color="blue"] .description {
  color: #506568;
}

.card[data-color="green"] {
  background: #d5e5a3;
}

.card[data-color="green"] .description {
  color: #60773d;
}

.card[data-color="green"] .category {
  color: #92ac56;
}

.card[data-color="yellow"] {
  background: #ffe28c;
}

.card[data-color="yellow"] .description {
  color: #b25825;
}

.card[data-color="yellow"] .category {
  color: #d88715;
}

.card[data-color="brown"] {
  background: #d6c1ab;
}

.card[data-color="brown"] .description {
  color: #75442e;
}

.card[data-color="brown"] .category {
  color: #a47e65;
}

.card[data-color="purple"] {
  background: #baa9ba;
}

.card[data-color="purple"] .description {
  color: #3a283d;
}

.card[data-color="purple"] .category {
  color: #5a283d;
}

.card[data-color="orange"] {
  background: #ff8f5e;
}

.card[data-color="orange"] .description {
  color: #772510;
}

.card[data-color="orange"] .category {
  color: #e95e37;
}

.test {
  background-color: yellowgreen;
}

.form-control:focus {
  border-color: white !important;
  box-shadow: none;
}

.divActive {
  border: 2px solid black !important;
}