.btn-gradient-danger {
  background: linear-gradient(90deg, #ffbf96, #fe7096);
  border-radius: 0.25rem;
  border: 0;
  transition: opacity .3s ease;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
}

.btn-gradient-danger {
  border: 0;
  transition: opacity .3s ease;
}

.btn-gradient-danger:hover {
  opacity: .8;
}

.btn-gradient-danger:not(.btn-gradient-light),
.btn-gradient-danger:not(.btn-gradient-light):active,
.btn-gradient-danger:not(.btn-gradient-light):focus,
.btn-gradient-danger:not(.btn-gradient-light):hover {
  color: #fff;
}

.btn-gradient-primary:not(.btn-gradient-light),
.btn-gradient-primary:not(.btn-gradient-light):active,
.btn-gradient-primary:not(.btn-gradient-light):focus,
.btn-gradient-primary:not(.btn-gradient-light):hover {
  color: #fff;
}

.btn-gradient-primary:hover {
  opacity: .8;
}

.btn-gradient-primary,
.btn-gradient-primary:not([disabled]):not(.disabled).active,
.btn-gradient-primary:not([disabled]):not(.disabled):active,
.show>.btn-gradient-primary.dropdown-toggle {
  background: linear-gradient(90deg, #da8cff, #9a55ff);
  border-radius: 0.25rem;
}

.btn-gradient-primary {
  border: 0;
  transition: opacity .3s ease;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
}

.content-wrapper {
  background: #f2edf3;
  /* padding: 2.75rem 2.25rem; */
  width: 100%;
  flex-grow: 1;
}

.active {
  color: #fcfcfc;
}